@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  --color-main-primary: #3ecf4c;
  --color-main-secondary: #ffbd3a;
  --color-main-ternary: #f64920;
  --color-textDark-primary: #222325;
  --color-textDark-secondary: #333333ad;
  --color-textDark-disabled: #3a354161;
  --color-textLight-primary: #ffffff;
  --color-textLight-secondary: #c1c2c4;
  --color-textLight-disabled: #9d9ea1;
  --color-other-primarybg: #ffffff;
  --color-other-basebg: #f4f5fa;
  --color-other-seconarybg: #f9fafc;
  --color-other-border: #3a35411f;
  --color-info-pressed: #044aa2;
  --color-info-hover: #0663c2;
  --color-info-default: #0980e2;
  --color-info-background: #ebf9fe;
  --color-success-pressed: #1c9675;
  --color-success-hover: #28b380;
  --color-success-default: #38d189;
  --color-success-background: #e0fddf;
  --color-warning-pressed: #b5a40d;
  --color-warning-hover: #d8c613;
  --color-warning-default: #fce91b;
  --color-warning-background: #fcf8ca;
  --color-error-pressed: #b72315;
  --color-error-hover: #db3d1f;
  --color-error-default: #ff5c2b;
  --color-error-background: #fce3d1;
  --color-gradients-info: ;
  --color-gradients-succes: ;
  --color-gradients-warning: ;
  --color-gradients-error: ;
  --color-greyscale-900: #212121;
  --color-greyscale-800: #424242;
  --color-greyscale-700: #616161;
  --color-greyscale-600: #757575;
  --color-greyscale-500: #9e9e9e;
  --color-greyscale-400: #bdbdbd;
  --color-greyscale-300: #e0e0e0;
  --color-greyscale-200: #eeeeee;
  --color-greyscale-100: #f5f5f5;
  --color-greyscale-0: #fafafa;
  --font-dmSans: "DM Sans";
  --font-poppins: Poppins;
}

/* font */

html {
  font-family: "DM Sans", poppins, sans-serif;
}

